* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
    --primary-color: #2563eb;
    --primary-hover: #1e40af;
    --bg-dark: #06151A;
    --text-main: #f3f4f6;
    --text-white: #ffffff;
    --border-color: rgba(255, 255, 255, 0.1);
    --radius: 8px;
}

body {
  background-color: var(--bg-dark);
  color: var(--text-main);
  min-height: 100vh;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input {
  font: inherit;
}

input {
    background-color: #c0c0c0;
    border: 1px solid #444;
    color: #ffffff;
    padding: 12px;
    border-radius: 8px;
}

input::placeholder {
    color: #777;
}

input:focus {
    border-color: #d93025;
    outline: none;
}